/* ----- fancybox customization ----- */
.fancybox-container {
	margin: 15px;
	width: calc(100vw - 30px);
	height: calc(100vh - 30px);

	& .fancybox-bg {
		background-color: var(--secondary-bg);
	}
}
.fancybox-is-open .fancybox-bg {
	opacity: 1;
}
.fancybox-toolbar {
	background-color: var(--secondary-bg);
	display: flex;
	width: calc(100vw - 30px);
	justify-content: flex-end;
	align-items: center;
	height: 70px;
	box-shadow: var(--box-shadow);
	z-index: 999999;
	padding: 0 17px;
	transition: var(--tr-lg);

	& .fancybox-button {
		background: transparent;
		color: var(--secondary-color);

		&:hover {
			color: var(--main-color);
		}

		& svg {
			width: 20px;
		}
	}
}
.fancybox-slide--image {
	padding: 130px 0 60px;
}
.fancybox-navigation {
	& .fancybox-button {
		background-color: transparent;
		margin: 0 15px;
	}
}
.fancybox-infobar {
	top: 0;
	left: 0;
	font-size: 11px;
	margin-left: 5px;
	z-index: 9999999999999;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	color: var(--secondary-color);
}
.fancybox-progress {
	background: var(--accident-color);
	z-index: 999999999999999999;
}
.fancybox-content {
	& .fancybox-image {
		box-shadow: var(--box-shadow);
	}
}
.fancybox-thumbs {
	background-color: var(--secondary-bg);
	box-shadow: var(--box-shadow);
}
.fancybox-thumbs__list a:before {
	border-color: var(--accident-color);
	transition: var(--tr-md);
}
.fancybox-button[disabled] {
	transform: scale(0);
	pointer-events: none;
	transition: var(--tr-md);
}
.recomendation-popup {
	background-color: transparent;
	max-width: 50%;
}
