@mixin btn {
	padding: 1em 2em;
	display: flex;
	justify-content: center;
	align-content: center;
	color: var(--main-bg);
	background: var(--accident-color);
	box-shadow: var(--box-secondary-shadow);
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transition: var(--tr-md);
	border: none;
	margin-right: 2em;
	@media (max-width: 359px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0.75em;
	}
	@media (min-width: 360px) and (max-width: 505px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0.75em;
	}
	& span {
		align-self: center;
		transition: var(--tr-sm);
	}
	&:hover,
	:active,
	:focus {
		transform: translateY(-2px);
		color: var(--main-bg);
	}
}

@mixin btn-link {
	padding: 1em 2em;
	display: flex;
	justify-content: center;
	align-content: center;
	color: var(--accident-color);
	background: transparent;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transition: var(--tr-md);
	border: none;
	position: relative;
	text-decoration: none;
	@media (max-width: 359px) {
		width: 100%;
	}
	@media (min-width: 360px) and (max-width: 505px) {
		width: 100%;
	}
	i {
		margin-left: 0.25em;
	}
	&:hover {
		color: var(--accident-color);
		& i {
			padding-left: 0.25em;
			transition: 0.4s ease-in-out;
		}
	}
}

@mixin link {
	text-decoration: none;
	color: var(--secondary-color);
	&:hover {
		text-decoration: none;
		color: var(--main-color);
	}
	&:focus {
		outline: inherit;
	}
}

@mixin banner {
	width: 100%;
	border-radius: 0.25em;
	background-image: linear-gradient(
		180deg,
		rgba(30, 30, 40, 0.73) 0%,
		rgba(30, 30, 40, 0.76) 70%,
		rgba(30, 30, 40, 0.79) 80%,
		rgba(30, 30, 40, 1) 100%
	);
	@media (max-width: 359px) {
		padding: 2em;
	}
	@media (min-width: 360px) and (max-width: 505px) {
		padding: 2em;
	}
	@media (min-width: 506px) {
		padding: 2em;
	}
	@media (min-width: 768px) {
		padding: 3em;
	}
}

@mixin h1 {
	font-family: var(--main-font);
	font-size: 3em;
	line-height: 1.5em;
	color: var(--main-color);
	text-align: left;
	margin: 0;
	margin-bottom: 1em;
	@media (max-width: 359px) {
		font-size: 1.75em;
	}
	@media (min-width: 360px) and (max-width: 505px) {
		font-size: 2em;
	}
	@media (min-width: 506px) {
		font-size: 2.25em;
	}
	@media (min-width: 768px) {
		font-size: 3em;
	}
}

@mixin code {
	position: relative;
	font-family: var(--secondary-font);
	color: var(--main-color);
	font-size: 1.25em;
	min-height: 5em;
	@media (max-width: 359px) {
		font-size: 1.15em;
	}
	@media (min-width: 360px) and (max-width: 505px) {
		font-size: 1.25em;
	}
	code {
		font-family: var(--secondary-font);
		font-size: 1em;
		color: var(--accident-color);
		&::before {
			content: "<";
			color: var(--main-color);
		}
		&::after {
			content: ">";
			color: var(--main-color);
		}
		&:last-child {
			&::before {
				content: "</";
				color: var(--main-color);
			}
		}
	}
}

@mixin h2 {
	font-family: var(--main-form);
	font-size: 1.5em;
	line-height: 1.5em;
	color: var(--main-color);
	margin: 1em 0;
}

@mixin h3 {
	font-family: var(--main-font);
	font-size: 1.15em;
	color: var(--main-color);
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	i {
		color: var(--accident-color);
	}
}

@mixin h4 {
	font-family: var(--main-font);
	font-size: 1em;
	color: var(--secondary-color);
	line-height: 1.5em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

@mixin text {
	font-family: var(--main-font);
	color: var(--main-color);
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 0;
}

@mixin counter {
	font-family: var(--secondary-font);
	color: var(--accident-color);
	font-weight: 600;
	font-size: 1.5em;
}

@mixin pill {
	width: 90px;
	font-size: 1em;
	font-weight: 300;
	padding: 1em;
	box-shadow: var(--box-shadow);
	color: var(--secondary-color);
	border: none;
	background-color: var(--secondary-bg);
	margin-bottom: 0.5em;
	&.active {
		background-color: var(--accident-color);
		color: var(--main-bg);
	}
}

@mixin hobbie {
	font-size: 1em;
	font-weight: 300;
	padding: 1em;
	margin: 0;
	color: var(--secondary-color);
	i {
		margin-right: 1em;
	}
}

@mixin card {
	padding: 3em 2em 2em;
	border-radius: 0.25em;
	box-shadow: var(--box-shadow);
	background: var(--secondary-bg);
	text-align: center;
}
